<ng-container *ngIf="alert$ | async; let alert">
  <app-alert *ngIf="alert.show" [color]="alert.color">
    {{ alert.msg }}
  </app-alert>
</ng-container>

<!-- Registration Form -->
<form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">Name</label>
    <app-input [control]="name" placeHolder="Enter Name"></app-input>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-input
      [control]="email"
      placeHolder="Enter Email"
      type="email"
    ></app-input>
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label class="inline-block mb-2">Age</label>
    <app-input
      [control]="age"
      type="number"
      placeHolder="Enter Age"
    ></app-input>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-input
      type="password"
      [control]="password"
      placeHolder="Enter Password"
    ></app-input>
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm Password</label>
    <app-input
      type="password"
      [control]="confirmedPassword"
      placeHolder="Confirm Password"
    ></app-input>
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <app-input
      [control]="phoneNumber"
      type="phone"
      placeHolder="Enter Phone Number"
      format="(000)000-0000"
    ></app-input>
  </div>
  <button
    type="submit"
    class="block disabled:opacity-50 disabled:bg-indigo-400 w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
    [disabled]="registerForm.invalid || (processing$ | async)"
  >
    Submit
  </button>
</form>
